a {
  color: red;
}

a:hover {
  color: red;
}

.btn-nissan {
  background-color: red;
  color: white;
  border: 0px;
}

#img-nissan{
  width: 110px;
  height: 135px;
  padding: 1em;
}

.header {
    margin-top: 3em;
}

/*overwrite bootstrap css*/
li.paginate_button.active{
  background-color: white;
  color: white;
}

li.paginate_button.active:hover{
  background-color: white;
  color: white;
}

li.paginate_button.active a{
  background-color: red;
  color: white;
  border: 0;
}

li.paginate_button.active:hover a{
  background-color: red;
  color: white;
  border: 0;
}

ul.nav.nav-pills.nav-stacked li a{
  background-color: white;
  color: black;
}

ul.nav.nav-pills.nav-stacked li.active a {
  background-color: red;
  color: white;
}

/*media queries*/
@media only screen and (max-width:990px){
  #img-nissan {
    display: none;
  }

  .header {
      margin-bottom: -1em;
      margin-top: 1.5em;
  }
}
